<mat-accordion *ngIf="newsList.length>0" multi>

  <mat-expansion-panel *ngFor="let news of newsList">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{news.title}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="news-image" *ngIf="news.imagePath !==''">
      <img [src]="news.imagePath" [alt]="news.title">
    </div>
    <p>
      {{news.description}}
    </p>
     <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-raised-button color="primary" [routerLink]="['/editNews',news.id]">EDIT</a>
      <button mat-raised-button color="warn" (click)="onDelete(news.id)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>


</mat-accordion>

